AC/
details_votes_section_year_state/
votes_candidates_munzona_year_state/
votes_section_year_state/
.Rhistory
.._
profile_voters_section_year_state
voters_location_voting_year
votes_candidates_munzona_year_state_2004/